body {
    font-family: 'chatype-regular';

    background-color: rgb(211, 211, 211);
}

.container {
    height: 100vh;
    width: 100vw;   
}

.boxes {
    display: block;
    position: relative;
    width: 25%;

    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;

    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;

    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.775);
    border-radius: 6px;
}

h2, p, .readme-wrapper {
    text-align: center;
}

.readme-wrapper {
    margin-bottom: 1em;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

a:hover {
    font-weight: 800;
    color:  rgb(0, 0, 0);
}

.p-text {
    color: rgb(38, 42, 50);
}

#box1 {
    background-color: rgba(125, 147, 138, 0.750);
    position: relative;
}

#box2 {
    background-color: rgba(236, 229, 212, 0.750);

    top: 0%;
    right: 0%;
}

#box3 {
    background-color: rgba(224, 152, 145, 0.750);
}

#box4 {
    background-color: rgba(88, 111, 124, 0.750);
}

h2 {
    margin-top: 1em;
    margin-bottom: 0em;
}

.box-image {
    width: 2.50em;
    height: 2.50em;

    background-color: rgba(242, 242, 242, 0.875);
    border-radius: 3px;

    display: inline-block;
    position: absolute;

    margin: 1em;
}

.list-border {
    width: 25%;

    margin-top: 0em;
    margin-right: 1em;
    margin-bottom: 0em;
    margin-left: 1em;

    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;

    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.775);
    border-radius: 6px;
}

h1 {
    color: rgb(38, 42, 50);

    margin-left: 0.5em;
}

.top-tv {
    color: rgb(132, 143, 165);
}

.btm-tv {
    color: rgb(51, 92, 129);
}

#show1 {
    color: rgb(115, 99, 114);
}

#show2 {
    color: rgb(56, 104, 106);
}

#show3 {
    color: rgb(161, 130, 118);
}

#show4 {
    color: rgb(43, 61, 65);
}

#show5 {
    color: rgb(186, 68, 94);
}

.friends {
    color: rgb(157, 92, 99);
}

#friend1 {
    color: rgb(162, 197, 172);
}

#friend2 {
    color: rgb(127, 106, 147);
}

#friend3 {
    color: rgb(82, 91, 118);
}

#friend4 {
    color: rgb(66, 75, 84);
}

#friend5 {
    color: rgb(239, 111, 108);
}

.places {
    color: rgb(46, 41, 78);
}

#place1 {
    color: rgb(157, 180, 171);
}

#place2 {
    color: rgb(75, 74, 103);
}

#place3 {
    color: rgb(53, 129, 184);
}

#place4 {
    color: rgb(252, 176, 126);
}

#place5 {
    color: rgb(172, 128, 160);
}

.restaurants {
    color:  rgb(212, 180, 131);
}

#restaurant1 {
    color: rgb(13, 50, 77);
}

#restaurant2 {
    color: rgb(174, 135, 153);
}

#restaurant3 {
    color: rgb(221, 167, 123);
}

#restaurant4 {
    color: rgb(201, 93, 99);
}

#restaurant5 {
    color: rgb(99, 160, 136);
}