body {
    font-family: 'chatype-regular';

    background-color: rgb(217, 226, 232, 0.775);
}

.container {
    height: 100vh;
    width: 100vw;   
}

.boxes {
    display: block;
    position: relative;
    width: 25%;

    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;

    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;

    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.775);
    border-radius: 6px;
}

h2, p, .readme-wrapper {
    text-align: center;
}

.readme-wrapper {
    margin-bottom: 1em;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

a:hover {
    font-weight: 800;
    color:  rgb(0, 0, 0);
}

.p-text {
    color: rgb(38, 42, 50);
}

#box1 {
    background-color: rgb(220, 232, 247, 0.875);
    position: relative;
}

#box2 {
    background-color: rgba(211, 225, 255, 0.875);

    top: 0%;
    right: 0%;
}

#box3 {
    background-color: rgb(182, 196, 221, 0.875);
}

#box4 {
    background-color: rgb(150, 162, 187, 0.875);
}

h2 {
    margin: 0 auto;
    display: inline-block;

    margin-left: 0.5em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.box-image {
    width: 2.50em;
    height: 2.50em;

    background-color: rgba(242, 242, 242, 0.875);
    border-radius: 3px;

    display: inline-block;

    /* margin-top: 0.5em; */
    /* margin-right: 1em; */
}

.title-center {
    text-align: center;
    margin-top: 0.5em;
}

.list-border {
    width: 25%;

    margin-top: 0em;
    margin-right: 1em;
    margin-bottom: 0em;
    margin-left: 1em;

    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;

    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.775);
    border-radius: 6px;
}

h1 {
    color: rgb(38, 42, 50);

    margin-left: 0.5em;
}

.top-tv {
    color: rgb(132, 143, 165);
}

.btm-tv {
    color: rgb(51, 92, 129);
}

#show1 {
    color: #1C1E22;
}

#show2 {
    color: #292D33;
}

#show3 {
    color: #373B44;
}

#show4 {
    color: #454A55;
}

#show5 {
    color: #525966;
}

.friends {
    color: rgb(157, 92, 99);
}

#friend1 {
    color: #222429;
}

#friend2 {
    color: #32363D;
}

#friend3 {
    color: #434851;
}

#friend4 {
    color: #535A65;
}

#friend5 {
    color: #646B79;
}

.places {
    color: rgb(46, 41, 78);
}

#place1 {
    color: #27292F;
}

#place2 {
    color: #3A3E46;
}

#place3 {
    color: #4D525D;
}

#place4 {
    color: #606774;
}

#place5 {
    color: #747B8C;
}

.restaurants {
    color:  rgb(212, 180, 131);
}

#restaurant1 {
    color: #282B2D;
}

#restaurant2 {
    color: #3C4044;
}

#restaurant3 {
    color: #50555A;
}

#restaurant4 {
    color: #646A71;
}

#restaurant5 {
    color: #787F87;
}